body{
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container{
    margin-top: 50px;
}

video{
    width: 600px;
    border-radius: 10px;
    background: black;
}

button{
    padding: 10px 15px;
    margin-top: 15px;
    margin-left: 5px;
    cursor: pointer;
}