body{
    font-family: Arial;
    transition: 0.5s;
}

.container{
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button{
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.light-theme{
    background: white;
    color: black;
}

.dark-theme{
    background: #121212;
    color: white;
}